<div class="container">
  <p class="title">The Playlist</p>
  <p>
    Here you can create your own playlist, edit your already existing playlist,
    add songs, and show it to the world!
  </p>
  <button mat-raised-button color="primary" (click)="onAdd()"><mat-icon>playlist_add</mat-icon> New Playlist</button>
  <hr>
  <div *ngFor="let playlist of playlists">
    <app-playlist-card [playlist]="playlist" (deletePlaylist)="onDelete(playlist)" (editPlaylist)="onEdit(playlist)"></app-playlist-card>
  </div>
  
</div>
